<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page | Ice Cream Cafe</title>
    <style>
        body {
            background-color: gainsboro;
        }
    </style>
</head>

<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__menu-items">
                    <a href="partials/about.partial.html" class="header__menu-link">About us</a>
                </li>
                <li class="header__menu-items">
                    <a href="#" class="header__menu-link">Menu</a>
                </li>
                <li>
                    <a href="#" class="special">Special</a>
                </li>
            </ul>
            <div class="header__logo">
                <a href="partials/about.partial.html" class="header__logo-image">
                    <img width="129" src="image/about/logo2.svg" alt="logo2" class="header__logo-image">
                </a>
            </div>
            <ul>
                <li>
                    <a href="#" class="header__menu-link">Ingredients</a>
                </li>
                <li>
                    <a href="#" class="header__menu-link">Blog</a>
                </li>
                <li>
                    <a href="#" class="header__menu-link">Contacts</a>
                </li>
            </ul>

        </nav>
        <div class="about__page-head">
            <h1 class="about__page-name">About Us</h1>
        </div>
    </header> -->
    <main class="about__content">
        <div class="about__page-head">
            <h1 class="about__page-name">About Us</h1>
        </div>
        <div class="about__content-introduction">
            <h2 class="about__content-mission">
                Our mission is to offer the best experience and the tastiest desserts & ice cream to our clients.
            </h2>
            <p class="about__content-description">
                We are Mr. Snowman, a small yet cozy NY cafe network. We have been handcrafting the most delicious ice
                cream
                since 1999, and these days, our menu is more varied than ever before.</p>
            <p class="about__content-description">
                Come to us to enjoy various ice cream flavors and try our seasonal and holiday desserts and cold drinks
                like
                iced coffee and milkshakes.</p>
            <p class="about__content-description">
                If you want to have a great time with friends or family, book a table in our cafe. Or pop into one of
                our
                little ice cream shops to take your favorite flavors with you.</p>
            <p class="about__content-description">
                We have a great network of 18+ ice cream shops, and their number is increasing. Also, you can find our
                ice
                cream on other cafes' menus.
            </p>
        </div>
        <div class="about__content-advantages">
            <div class="about__content-advantages-delicious">
                <img width="40" src="image/about/delicious.svg" alt="about__content-advantages-delicious-picture">
                <h3 class="about__content-advantages-delicious-name">Delicious Ice Cream</h3>
                <p class="about__content-advantages-delicious-description"> Dozens of types of ice cream made from
                    natural ingredients.</p>
            </div>
            <div class="about__content-advantages-atmosphere">
                <img width="40" src="image/about/atmosphere.svg" alt="about__content-advantages-atmosphere-picture">
                <h3 class="about__content-advantages-atmosphere-name">Cozy Atmosphere</h3>
                <p class="about__content-advantages-atmosphere-description"> Our cafe is excellent for meeting with
                    friends or familly.</p>
            </div>
            <div class="about__content-advantages-reservation">
                <img width="40" src="image/about/reservation.svg"
                    alt="about__content-advantages-reservation-picture">
                <h3 class="about__content-advantages-reservation-name">Table Reservation</h3>
                <p class="about__content-advantages-reservation-description"> Dozens of types of ice cream made from
                    natural ingredients.</p>
                <div class="about__content-advantages-delicious">
                    <img width="40" src="image/about/delicious.svg"
                        alt="about__content-advantages-delicious-picture">
                    <h3 class="about__content-advantages-delicious-name">Delicious Ice Cream</h3>
                    <p class="about__content-advantages-delicious-description"> Dozens of types of ice cream made from
                        natural ingredients.</p>
                </div>
                <div class="about__content-advantages-desserts">
                    <img width="40" src="image/about/desserts.svg" alt="about__content-advantages-desserts-picture">
                    <h3 class="about__content-advantages-desserts-name">Top Desserts</h3>
                    <p class="about__content-advantages-desserts-description"> We offer not only ice cream but also many
                        tasty desserts with cream.</p>
                </div>
            </div>
        </div>
        <div class="about__content-video">
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/NsHAwGaiLKI"
                title="about__content-video-youtube" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen ></iframe> -->
            <video class="about__content-video-local" controls width="480" height="315"
                poster="image/about/about_video_cover.png">
                <source src="image/about/video/icecream.webm" type="video/webm">
                Sorry, your browser can not play this video.
            </video>
        </div>
        <div class="about__content-team">
            <div class="about__content-team-description">
                <h4 class="about__content-team-description-staff">Our staff</h4>
                <h1 class="about__content-team-description-team">Meet Our Team</h1>
                <h5 class="about__content-team-description-description">Our staff is our pride. We are happy to welcome new members of our family.</h5>
                <p class="about__content-team-description-description">
                    Our main qualities are respect for customers, cheerfulness, and willingness to work hard to provide the best service for cafe guests.
                </p>
            </div>
            <div><button disabled="disabled"></button></div>
            <section class="about__content-team-cards">
                
            </section>
        </div>
    </main>
</body>

</html>