<div class="blog">
    <div class="tabs__header__content tabs__header__content_small">Blog</div>
    <div class="tabs__header__content tabs__header__content_big">Our Latest Articles</div>
    <div class="tabs__header__content tabs__header__content_standart">Learn more about ice cream, our news, and special offers.</div>

    <div>
        <img src="images/blog/bice.png" alt="coloured ice cream">
    </div>
    <div>
        <h1 class="blog-discount">-15% Discount on 10 Tastes!</h1>
        <p class="blog-discount-par">Hurry up to use your discount! We offer special prices on top spring tastes until
            10 June.</p>
        <a href="index.html" class="main__booklets-menu-link main__booklets-menu-link--second-style">Learn More</a>

    </div>
</div>

<div class="blog">
    <div>
        <img src="images/blog/bmanwoman.png" alt="man and woman">
    </div>
    <div>
        <h1 class="blog-history">The History of Ice Cream</h1>
        <p class="blog-history-par">Many people know that the original ice cream comes from Italy. Here is the whole
            story...</p>
        <a href="index.html" class="main__booklets-menu-link main__booklets-menu-link--second-style">Learn More</a>

    </div>
</div>

<div class="blog">
    <div>
        <img src="images/blog/bmango.png" alt="ice cream with mango">
    </div>
    <div>
        <h1 class="blog-birthday">Celebrate Birthdays with Us!</h1>
        <p class="blog-birthday-par">Mr. Snowman's Birthday Parties are great for kids of all ages. We have lots of
            sweet treats and fun.</p>
        <a href="index.html" class="main__booklets-menu-link main__booklets-menu-link--second-style">Learn More</a>
    </div>
</div>