<!--<div class="blog">
    <div class="tabs__header__content tabs__header__content_small" id="blog__href">Blog</div>
    <div class="tabs__header__content tabs__header__content_big">Our Latest Articles</div>
    <div class="tabs__header__content tabs__header__content_standart">Learn more about ice cream, our news, and special
        offers.</div>


    <section class="blog__section bice">
        <div class="text-button">
            <h1 class="blog-section-header">-15% Discount on 10 Tastes!</h1>
            <p class="blog-paragraph">Hurry up to use your discount! We offer special prices on top spring tastes
                until
                10 June.</p>
            <a href="index.html" class="main__booklets-menu-link "
                style="margin-bottom: 25px;">Learn More</a>
        </div>
    </section>

    <section class="blog__section bmanwoman">
        <div class="text-button">
            <h1 class="blog-section-header">The History of Ice Cream</h1>
            <p class="blog-paragraph">Many people know that the original ice cream comes from Italy. Here is the whole
                story...</p>
            <a href="index.html" class="main__booklets-menu-link "
                style="margin-bottom: 25px;">Learn More</a>
        </div>
    </section>

    <section class="blog__section bmango">
        <div class="text-button">
            <h1 class="blog-section-header">Celebrate Birthdays with Us!</h1>
            <p class="blog-paragraph">Mr. Snowman's Birthday Parties are great for kids of all ages. We have lots of
                sweet treats and fun.</p>
            <a href="index.html" class="main__booklets-menu-link"
                style="margin-bottom: 25px;">Learn More</a>
        </div>
    </section> !-->

    <div class="blog">
        <div class="tabs__header__content tabs__header__content_small" id="blog__href">Blog</div>
        <div class="tabs__header__content tabs__header__content_big">Our Latest Articles</div>
        <div class="tabs__header__content tabs__header__content_standart">Learn more about ice cream, our news, and special
            offers.</div>
    <div class="product-cards">
        <div class="product-card">
            <img src="images/blog/bice.png" alt="Icecream">
            <h1 class="blog-section-header">-15% Discount on 10 Tastes!</h1>
            <p class="blog-paragraph">Hurry up to use your discount! We offer special prices on top spring tastes
                until
                10 June.</p>
            <a href="index.html" class="main__booklets-menu-link "
            style="margin-bottom: 25px;">Learn More</a>
        </div>
    
        <div class="product-card">
            <img src="images/blog/bmanwoman.png" alt="Man and woman">
            <h1 class="blog-section-header">The History of Ice Cream</h1>
            <p class="blog-paragraph">Many people know that the original ice cream comes from Italy. Here is the whole
                story...</p>
            <a href="index.html" class="main__booklets-menu-link "
            style="margin-bottom: 25px;">Learn More</a>
        </div>
    
        <div class="product-card">
            <img src="images/blog/bmango.png" alt="Mango icecream">
            <h1 class="blog-section-header">Celebrate Birthdays with Us!</h1>
            <p class="blog-paragraph">Mr. Snowman's Birthday Parties are great for kids of all ages. We have lots of
                sweet treats and fun.</p>
            <a href="index.html" class="main__booklets-menu-link "
            style="margin-bottom: 25px;">Learn More</a>
        </div>
    </div>
    

    