<div class="blog">    
        <h2 class="latest-articles__photos">Blog</h2>
        <h3>Our Latest Articles</h3>
        <p>Learn more about ice cream, our news, and special offers.</p>

        <div><img src="imgage/blog/bice.png" alt="coloured icecream"></div>
        <div>-15% Discount on 10 Tastes!</div>
        <div>Hurry up to use your discount! We offer special prices on top spring tastes until 10 June.</div>
        <div><button>Learn More</button></div>
    </div>

    <div class="blog">            
        <div><img src="image/blog/bmanwoman.png" alt="man and woman"></div>
        <div>The History of Ice Cream</div>
        <div>Many people know that the original ice cream comes from Italy. Here is the whole story...</div>
        <div><button>Learn More</button></div>
    </div>

    <div class="blog">            
        <div><img src="image/blog/bmango.png" alt="icecream with mango"></div>
        <div>Celebrate Birthdays with Us!</div>
        <div>Mr. Snowman's Birthday Parties are great for kids of all ages. We have lots of sweet treats and fun.</div>
        <div><button>Learn More</button></div>
    </div>
