<div class="booklets-menu">
    <section class="booklets-menu__section">
        <h2 class="booklets-menu__deserts">Desserts</h2>
        <a href="#" class="booklets-menu__link">View Menu</a>
    </section>
    <section class="booklets-menu__section">
        <h2 class="booklets-menu__deserts">Milk Shakes</h2>
        <a href="#" class="booklets-menu__link">View Menu</a>
    </section>
    <section class="booklets-menu__section">
        <h2 class="booklets-menu__deserts">Ice Cream</h2>
        <a href="#" class="booklets-menu__link">View Menu</a>
    </section>
</div>