<div class="main__booklets-menu">
    <button class="main__slider-navigation-button" id="scrollLeft">◄</button>
    <button class="main__slider-navigation-button" id="scrollRight">►</button>
    <div class="main__booklets-menu-container container">
        <div class="main__booklets-menu-block">
            <section class="main__booklets-menu-section main__booklets-menu-section--desserts">
                <h2 class="main__booklets-menu-deserts">Desserts</h2>

                <a href="menu.html" class="main__booklets-menu-link">
                    View Menu
                </a>

            </section>
            <section class="main__booklets-menu-section main__booklets-menu-section--milk-shakes">
                <h2 class="main__booklets-menu-deserts">Milk Shakes</h2>

                <a href="menu.html" class="main__booklets-menu-link main__booklets-menu-link--third-style">
                    View Menu
                </a>
            </section>
            <section class="main__booklets-menu-section main__booklets-menu-section--ice-cream">
                <h2 class="main__booklets-menu-deserts">Ice Cream</h2>

                <a href="menu.html" class="main__booklets-menu-link">
                    View Menu
                </a>

            </section>
            <section class="main__booklets-menu-section main__booklets-menu-section--coffee">
                <h2 class="main__booklets-menu-deserts">Coffee</h2>

                <a href="menu.html" class="main__booklets-menu-link main__booklets-menu-link--third-style">
                    View Menu
                </a>
            </section>
            <section class="main__booklets-menu-section main__booklets-menu-section--drinks">
                <h2 class="main__booklets-menu-deserts">Drinks</h2>

                <a href="menu.html" class="main__booklets-menu-link">
                    View Menu
                </a>

            </section>
            <section class="main__booklets-menu-section main__booklets-menu-section--beer">
                <h2 class="main__booklets-menu-deserts">Beer</h2>

                <a href="menu.html" class="main__booklets-menu-link main__booklets-menu-link--third-style">
                    View Menu
                </a>
            </section>
            <section class="main__booklets-menu-section main__booklets-menu-section--ice-cream">
                <h2 class="main__booklets-menu-deserts">Ice Cream</h2>

                <a href="menu.html" class="main__booklets-menu-link">
                    View Menu
                </a>

            </section>
        </div>
    </div>
</div>
</div>