<div class="main__booklets-menu">
    <div class="main__main-block-booklets-menu container">
        <section class="main__booklets-menu-section main__booklets-menu-section--desserts">
            <h2 class="main__booklets-menu-deserts">Desserts</h2>
            <a href="#" class="main__booklets-menu-link">View Menu</a>
        </section>
        <section class="main__booklets-menu-section main__booklets-menu-section--milk-shakes">
            <h2 class="main__booklets-menu-deserts">Milk Shakes</h2>
            <a href="#" class="main__booklets-menu-link">View Menu</a>
        </section>
        <section class="main__booklets-menu-section main__booklets-menu-section--ice-cream">
            <h2 class="main__booklets-menu-deserts">Ice Cream</h2>
            <a href="#" class="main__booklets-menu-link">View Menu</a>
        </section>
    </div>
</div>