<div class="header__main-hamburger-block">
    <div class="header__hamburger-transparent-block"></div>
    <nav class="header__hamburger-navigation">
        <div class="header__hamburger-navigation-link-container">
            <a href="#" class="header__hamburger-navigation-link"><span class="header__hamburger-txt-link">Blog</span></a>
        </div>
        <div class="header__hamburger-navigation-link-container">
            <a href="menu.html" class="header__hamburger-navigation-link">
                <span class="header__hamburger-txt-link">Menu</span></a>
        </div>
        <div class="header__hamburger-navigation-link-container">
            <a href="#" class="header__hamburger-navigation-link"><span class="header__hamburger-txt-link">Special</span></a>
        </div>
        <div class="header__hamburger-navigation-link-container">
            <a href="#" class="header__hamburger-navigation-link"><span class="header__hamburger-txt-link">Contacts</span></a>
        </div>
        <div class="header__hamburger-navigation-link-container">
            <a href="#" class="header__hamburger-navigation-link"><span class="header__hamburger-txt-link">About Us</span></a>
        </div>
        <div class="header__hamburger-navigation-link-container">
            <a href="#" class="header__hamburger-navigation-link"><span class="header__hamburger-txt-link">Ingredients</span></a>
        </div>
    </nav>
</div>