<header class="header header__contacts">
    <div class="header__main-hamburger-block" id="hamburger-list">
        <div class="header__hamburger-transparent-block"></div>
        <nav class="header__hamburger-navigation">
            <div class="header__hamburger-navigation-link-container">
                <a href="#" class="header__hamburger-navigation-link"><span
                        class="header__hamburger-txt-link">Blog</span></a>
            </div>
            <div class="header__hamburger-navigation-link-container">
                <a href="menu.html" class="header__hamburger-navigation-link">
                    <span class="header__hamburger-txt-link">Menu</span></a>
            </div>
            <div class="header__hamburger-navigation-link-container">
                <a href="#" class="header__hamburger-navigation-link"><span
                        class="header__hamburger-txt-link">Special</span></a>
            </div>
            <div class="header__hamburger-navigation-link-container">
                <a href="contacts.html" class="header__hamburger-navigation-link"><span
                        class="header__hamburger-txt-link">Contacts</span></a>
            </div>
            <div class="header__hamburger-navigation-link-container">
                <a href="about.html" class="header__hamburger-navigation-link"><span
                        class="header__hamburger-txt-link">About Us</span></a>
            </div>
            <div class="header__hamburger-navigation-link-container">
                <a href="#" class="header__hamburger-navigation-link"><span
                        class="header__hamburger-txt-link">Ingredients</span></a>
            </div>
        </nav>
    </div>
    <div class="header__main-block container">
        <nav class="header__nav">
            <div class="header__menu">
                <div class="header__menu-cell">
                    <a href="about.html" class="header__menu-link">
                        <span class="header__menu-cell-links-txt">About Us</span>
                    </a>
                </div>
                <div class="header__menu-cell">
                    <a href="menu.html" class="header__menu-link">
                        <span class="header__menu-cell-links-txt">Menu</span>
                    </a>
                </div>
                <div class="header__menu-cell">
                    <a href="#" class="header__menu-link">
                        <span class="header__menu-cell-links-txt">Special</span>
                    </a>
                </div>
            </div>

            <div class="header__index-ref">
                <a href="index.html" class="index-ref">
                    <img src="images/about/logo2.svg" alt="Main logo" class="header__logo">
                </a>
            </div>

            <div class="header__menu">
                <div class="header__menu-cell">
                    <a href="#" class="header__menu-link">
                        <span class="header__menu-cell-links-txt">Ingredients</span>
                    </a>
                </div>
                <div class="header__menu-cell">
                    <a href="#" class="header__menu-link">
                        <span class="header__menu-cell-links-txt">Blog</span></a>
                </div>
                <div class="header__menu-cell">
                    <a href="contacts.html" class="header__menu-link">
                        <span class="header__menu-cell-links-txt">Contacts</span>
                    </a>
                </div>
            </div>

            <div class="header__hamburger-button" onclick="showHideHamburger()">
                <div class="header__hamburger-group-lines">
                    <div class="header__line-ham"></div>
                    <div class="header__line-ham"></div>
                    <div class="header__line-ham"></div>
                </div>
                <div class="header__x-ham">
                    <div class="header__x-txt">X</div>
                </div>
            </div>
        </nav>
        <div class="header__title header__title--contacts">
            <h2 class="header__on-contacts">Contacts</h2>
        </div>
    </div>
</header>