<nav class="header__nav">
    <div class="header__menu">
        <div class="header__menu-cell">
            <a href="about.html" class="header__menu-link">About Us</a>
        </div>
        <div class="header__menu-cell">
            <a href="#" class="header__menu-link">Menu</a>
        </div>
        <div class="header__menu-cell">
            <a href="#" class="header__menu-link">Special</a>
        </div>
    </div>

    <div class="header__index-ref">
        <a href="index.html" class="index-ref">
            <img src="image/about/logo2.svg" alt="Main logo" class="header__logo" width="400">
        </a>
    </div>

    <div class="header__menu">
        <div class="header__menu-cell">
            <a href="#" class="header__menu-link">Ingredients</a>
        </div>
        <div class="header__menu-cell">
            <a href="#" class="header__menu-link">Blog</a>
        </div>
        <div class="header__menu-cell">
            <a href="contacts.html" class="header__menu-link">Contacts</a>
        </div>
    </div>

</nav>
<!--
    <div class="header__title header__title--menu">
        <h2 class="header__on-menu">Our Menu</h2>
    </div>
    -->