<header class="header">
    <nav class="header__nav">
        <div class="header__menu">
            <div class="header__menu-cell">
                <a href="../about.html" class="header__menu-link">About Us</a>
            </div>
            <div class="header__menu-cell">
                <a href="#" class="header__menu-link">Menu</a>
            </div>
            <div class="header__menu-cell">
                <a href="#" class="header__menu-link">Special</a>
            </div>
        </div>

        <div class="header__index-ref">
            <a href="#" class="index-ref">
                <img src="image/about/logo2.svg" alt="Main logo" class="header__logo" width="400">
            </a>
        </div>

        <div class="header__menu">
            <div class="header__menu-cell">
                <a href="#" class="header__menu-link">Ingredients</a>
            </div>
            <div class="header__menu-cell">
                <a href="#" class="header__menu-link">Blog</a>
            </div>
            <div class="header__menu-cell">
                <a href="#" class="header__menu-link">Contacts</a>
            </div>
        </div>

    </nav>
    <div class="header__welcome">
        <p class="header__welcome">Welcome to</p>
        <h2 class="header__owner">Mr. Snowman Cafe</h2>
        <p class="header__story">Handcrafting the most delicious ice cream since 1999.</p>
        <a href="#" class="header__about-cafe">About Cafe</a>
        <a href="#" class="header__our-menu">Our Menu</button>
    </div>
</header>