<nav class="header__nav">
    <div class="header__menu">
        <div class="header__menu-cell">
            <a href="about.html" class="header__menu-link">
                <span class="header__menu-cell-links-txt">About Us</span>
            </a>
        </div>
        <div class="header__menu-cell">
            <a href="menu.html" class="header__menu-link">
                <span class="header__menu-cell-links-txt">Menu</span>
            </a>
        </div>
        <div class="header__menu-cell">
            <a href="#" class="header__menu-link">
                <span class="header__menu-cell-links-txt">Special</span>
            </a>
        </div>
    </div>

    <div class="header__index-ref">
        <a href="index.html" class="index-ref">
            <img src="images/about/logo2.svg" alt="Main logo" class="header__logo">
        </a>
    </div>

    <div class="header__menu">
        <div class="header__menu-cell">
            <a href="#" class="header__menu-link">
                <span class="header__menu-cell-links-txt">Ingredients</span>
            </a>
        </div>
        <div class="header__menu-cell">
            <a href="#" class="header__menu-link">
                <span class="header__menu-cell-links-txt">Blog</span></a>
        </div>
        <div class="header__menu-cell">
            <a href="contacts.html" class="header__menu-link">
                <span class="header__menu-cell-links-txt">Contacts</span>
            </a>
        </div>
    </div>

    <div class="header__hamburger-menu" onclick="show_hide_hamburger()">
        <div class="header__lin-ham"></div>
        <div class="header__lin-ham"></div>
        <div class="header__lin-ham"></div>
    </div>
</nav>