<section class="main__ice-cream-tastes">
    <header class="main__i-c-t">
        <div class="maim__title-small">Ice cream tastes</div>
        <h2 class="maim__favorit-easte">Select Your Favorite Taste</h2>
        <div class="main__motivating-appeal">From strawberry to coconut, we have them all!</div>

        <div class="main__slaider">
            <div class="tabs__content">
                <div class="tabs__content-box">
                    <div class="tabs__content-box__image">
                        <img src="images/ice-cream-tastes/blu-paradise.png" alt="Blu Paradise">
                    </div>
                    <div>
                        <p> Blu Paradise </p>
                        <em> sour and fruity </em>
                        <span>5$</span><span>/ball</span>
                    </div>
                </div>
            </div>
            <div class="tabs__content">
                <div class="tabs__content-box">
                    <div class="tabs__content-box__image">
                        <img class="choco-hazelnut" src="images/ice-cream-tastes/choco-hazelnut.png"
                            alt="Choco & Hazelnut">
                    </div>
                    <div>
                        <p>Choco & Hazelnut</p>
                        <em>rich sweet taste</em>
                        <span>5$</span><span>/ball</span>
                    </div>
                </div>
            </div>
            <div class="tabs__content">
                <div class="tabs__content-box">
                    <div class="tabs__content-box__image">
                        <img class="mango-dreams" src="images/ice-cream-tastes/mango-dreams.png" alt="Mango Dreams">
                    </div>
                    <div>
                        <p>Mango Dreams</p>
                        <em>classic tropic taste</em>
                        <span>5$</span><span>/ball</span>
                    </div>
                </div>
            </div>
            <div class="tabs__content">
                <div class="tabs__content-box">
                    <div class="tabs__content-box__image">
                        <img class="pistashio-heaven" src="images/ice-cream-tastes/pistashio-heaven.png"
                            alt="Pistashio Heaven">
                    </div>
                    <div>
                        <p>Pistachio Heaven</p>
                        <em>creamy nutty flavor</em>
                        <span>5$</span><span>/ball</span>
                    </div>
                </div>
            </div>>
            <div class="tabs__content">
                <div class="tabs__content-box">
                    <div class="tabs__content-box__image">
                        <img class="strawberry-gem" src="images/ice-cream-tastes/strawberry-gem.png"
                            alt="Strawberry Gem">
                    </div>
                    <div>
                        <p>Strawberry Gem</p>
                        <em>fruity and fresh</em>
                        <span>5$</span><span>/ball</span>
                    </div>
                </div>
            </div>
            <footer>
                <div><a href="menu.html"></a></div>
            </footer>

    </header>
</section>