<section class="main__ice-cream-tastes">
    <header class="main__i-c-t">
        <div class="maim__title-small">Ice cream tastes</div>
        <h2 class="maim__favorit-easte">Select Your Favorite Taste</h2>
        <div class="main__motivating-appeal">From strawberry to coconut, we have them all!</div>

        <div>Karusel</div>

        <div><img class="blu-paradise" src="#" alt="images/main__ice-cream-tastes/blu-paradise">blu-paradise</div>
        <div><img class="choco-hazelnut" src="#" alt="images/main__ice-cream-tastes/choco-hazelnut">choco-hazelnut </div>
        <div><img class="mango-dreams" src="#" alt="images/main__ice-cream-tastes/mango-dreams">mango-dreams</div>
        <div><img class="pistashio-heaven" src="#" alt="images/main__ice-cream-tastes/pistashio-heaven">pistashio-heaven</div>
        <div><img class="strawberry-gem" src="#" alt="images/main__ice-cream-tastes/strawberry-gem">strawberry-gem</div>

        <footer>
            <div><a href="menu.html"></a></div>
        </footer>

    </header>
</section>