<section class="main__ice-cream-tastes">
    <header class="main__i-c-t">
        <div class="maim__title-small">Ice cream tastes</div>
        <h2 class="maim__favorit-easte">Select Your Favorite Taste</h2>
        <div class="main__motivating-appeal">From strawberry to coconut, we have them all!</div>

        <div>Karusel</div>

        <div>
            <div>
                <img class="blu-paradise" src="images/ice-cream-tastes/blu-paradise.png" alt="Blu Paradise">
            </div>
            <div>
                <p> Pistachio Heaven </p>
                <em> creamy nutty flavor </em>
                <span>5$</span><span>/ball</span>
            </div>
            <div><img class="choco-hazelnut" src="images/ice-cream-tastes/choco-hazelnut.png" alt="Choco & Hazelnut">
            </div>
            <div><img class="mango-dreams" src="images/ice-cream-tastes/mango-dreams.png" alt="Mango Dreams"></div>
            <div><img class="pistashio-heaven" src="images/ice-cream-tastes/pistashio-heaven.png"
                    alt="Pistashio Heaven">
            </div>
            <div><img class="strawberry-gem" src="images/ice-cream-tastes/strawberry-gem.png" alt="Strawberry Gem">
            </div>
        </div>
        <footer>
            <div><a href="menu.html"></a></div>
        </footer>

    </header>
</section>