<div class="gallery">
    <section class="our-gallery__section">
        <div class="tabs__header__content tabs__header__content_small">Gallery</div>
        <div class="tabs__header__content tabs__header__content_big">Our Gallery</div>
        <div class="tabs__header__content tabs__header__content_standart">Ice cream and desserts are our real passion!</div>
    </section>
    <div class="gallery-photo">
        <img src="images/gallery/manwoman.png" alt="manwoman">
        <img src="images/gallery/icecreamdif.png" alt="differentice">
        <img src="images/gallery/icecreamcup.png" alt="cup">
        <img src="images/gallery/twoicecreams.png" alt="twoicecreams">
        <img src="images/gallery/mangoice.png" alt="mangoice">
    </div>