<div class="gallery">
    <section class="our-gallery__section">
        <h2 class="our-gallery__photos">Blog</h2>
        <h3>Our Gallery</h3>
        <p>Ice cream and desserts are our real passion!</p>
    </section>
    <div class="gallery photo">
        <img src="image/gallery/manwoman.png" alt="manwoman">
        <img src="image/gallery/icecreamdif.png" alt="differentice">
        <img src="image/gallery/icecreamcup.png" alt="cup">
        <img src="image/gallery/twoicecreams.png" alt="twoicecreams">
        <img src="image/gallery/mangoice.png" alt="mangoice">
    </div>