<div class="gallery">
  <section class="our-gallery__section">
    <div class="tabs__header__content tabs__header__content_small">Gallery</div>
    <div class="tabs__header__content tabs__header__content_big">Our Gallery</div>
    <div class="tabs__header__content tabs__header__content_standart">Ice cream and desserts are our real passion!
    </div>
  </section>
</div>
<div class="galcarousel">
  <button class="previous-button">◄</button>
  <img id="galcarousel-image" src="images/gallery/manwoman.png" alt="manwoman">
  <button class="next-button">►</button>
</div>