<section class="desserts">
  <div class="tabs">
    <div class="tabs__head">
      <div class="tabs__heading">Desserts</div>
      <div class="tabs__heading">Ice Cream</div>
      <div class="tabs__heading">Drinks</div>
    </div>
    <div class="tabs__body">
      <div class="tabs__content">
        <div class="tabs__content-box">
          <img src="images/tabs/sweet-joy.png" alt="Sweet Joy">
          <span class="tabs__content-box__heading">
            Sweet Joy /
            <span class="tabs__content-box__heading_colored">15$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <img src="images/tabs/sweet-joy.png" alt="Gentle Cloud">
          <span class="tabs__content-box__heading">
            Gentle Cloud /
            <span class="tabs__content-box__heading_colored">12$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <img src="images/tabs/sweet-joy.png" alt="Gentle Cloud">
          <span class="tabs__content-box__heading">
            Gentle Cloud /
            <span class="tabs__content-box__heading_colored">12$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <img src="images/tabs/sweet-joy.png" alt="Gentle Cloud">
          <span class="tabs__content-box__heading">
            Gentle Cloud /
            <span class="tabs__content-box__heading_colored">12$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <img src="images/tabs/sweet-joy.png" alt="Gentle Cloud">
          <span class="tabs__content-box__heading">
            Gentle Cloud /
            <span class="tabs__content-box__heading_colored">12$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <img src="images/tabs/sweet-joy.png" alt="Gentle Cloud">
          <span class="tabs__content-box__heading">
            Gentle Cloud /
            <span class="tabs__content-box__heading_colored">12$</span>
          </span>
        </div>
      </div>
      <div class="tabs__content"></div>
      <div class="tabs__content"></div>
    </div>
  </div>
</section>
