<section class="desserts">
  <div class="tabs__header">
    <div class="tabs__header__content tabs__header__content_small">Our menu</div>
    <div class="tabs__header__content tabs__header__content_big">Featured Desserts & Treats</div>
    <div class="tabs__header__content tabs__header__content_standart">Welcome to the sweet tooth paradise!</div>
  </div>
  <div class="tabs">
    <div class="tabs__head">
      <div class="tabs__heading">Desserts</div>
      <div class="tabs__heading">Ice Cream</div>
      <div class="tabs__heading">Drinks</div>
    </div>
    <div class="tabs__body">
      <div class="tabs__content">
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
            <img src="images/tabs/sweet-joy.png" alt="Sweet Joy">
            </div>
          <span class="tabs__content-box__heading">
            Sweet Joy /
            <span class="tabs__content-box__heading_colored">15$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
            <img src="images/tabs/rose-sparkle.png" alt="Rose Sparkle">
          </div>
          
          <span class="tabs__content-box__heading">
            Rose Sparkle /
            <span class="tabs__content-box__heading_colored">15$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/gentle-cloud.png" alt="Gentle Cloud">
          </div>
          <span class="tabs__content-box__heading">
            Gentle Cloud /
            <span class="tabs__content-box__heading_colored">12$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/tropical-day.png" alt="Tropical Day">
          </div>
          <span class="tabs__content-box__heading">
            Tropical Day /
            <span class="tabs__content-box__heading_colored">18$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/hazelnut.png" alt="Hazelnut">
          </div>
          <span class="tabs__content-box__heading">
            Hazelnut /
            <span class="tabs__content-box__heading_colored">12$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image"> 
          <img src="images/tabs/berry-mix.png" alt="Berry Mix">
          </div>
          <span class="tabs__content-box__heading">
            Berry Mix /
            <span class="tabs__content-box__heading_colored">13$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/siesta.png" alt="Siesta">
          </div>
          <span class="tabs__content-box__heading">
            Siesta /
            <span class="tabs__content-box__heading_colored">15$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/choco-cream.png" alt="Choco Cream">
          </div>
          <span class="tabs__content-box__heading">
            Choco Cream /
            <span class="tabs__content-box__heading_colored">11$</span>
          </span>
        </div>
      </div>
      <div class="tabs__content">
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/lemon-lime.png" alt="Lemon & Lime">
            </div>
          <span class="tabs__content-box__heading">
            Lemon & Lime /
            <span class="tabs__content-box__heading_colored">6$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
            <picture class="tabs__content-box__picture">
              <img src="images/tabs/blackberry.png" alt="Blackberry">
            </picture>
          </div>
          <span class="tabs__content-box__heading">
            Blackberry /
            <span class="tabs__content-box__heading_colored">7$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/mango.png" alt="Mango">
          </div>
          <span class="tabs__content-box__heading">
            Mango /
            <span class="tabs__content-box__heading_colored">5$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/lavender.png" alt="Lavender">
          </div>
          <span class="tabs__content-box__heading">
            Lavender /
            <span class="tabs__content-box__heading_colored">8$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/vanilla.png" alt="Vanilla">
          </div>
          <span class="tabs__content-box__heading">
            Vanilla /
            <span class="tabs__content-box__heading_colored">4$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/chocolate.png" alt="Chocolate">
          </div>
          <span class="tabs__content-box__heading">
            Chocolate /
            <span class="tabs__content-box__heading_colored">5$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/strawberry_ice-cream.png" alt="Strawberry">
          </div>
          <span class="tabs__content-box__heading">
            Strawberry /
            <span class="tabs__content-box__heading_colored">5$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/pistachio.png" alt="Pistachio">
          </div>
          <span class="tabs__content-box__heading">
            Pistachio /
            <span class="tabs__content-box__heading_colored">5$</span>
          </span>
        </div>
      </div>
      <div class="tabs__content">
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/strawberry.png" alt="Strawberry">
          </div>
          <span class="tabs__content-box__heading">
            Strawberry /
            <span class="tabs__content-box__heading_colored">10$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/caramel.png" alt="Caramel">
          </div>
          <span class="tabs__content-box__heading">
            Caramel /
            <span class="tabs__content-box__heading_colored">8$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/berry-shake.png" alt="Berry Shake">
          </div>
          <span class="tabs__content-box__heading">
            Berry Shake /
            <span class="tabs__content-box__heading_colored">12$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/choco-choco.png" alt="Choco-Choco">
          </div>
          <span class="tabs__content-box__heading">
            Choco-Choco /
            <span class="tabs__content-box__heading_colored">9$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/mango-shake.png" alt="Mango Shake">
          </div>
          <span class="tabs__content-box__heading">
            Mango Shake /
            <span class="tabs__content-box__heading_colored">8$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/orange-shake.png" alt="Orange Shake">
          </div>
          <span class="tabs__content-box__heading">
            Orange Shake /
            <span class="tabs__content-box__heading_colored">9$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/banana-shake.png" alt="Banana Shake">
          </div>
          <span class="tabs__content-box__heading">
            Banana Shake /
            <span class="tabs__content-box__heading_colored">8$</span>
          </span>
        </div>
        <div class="tabs__content-box">
          <div class="tabs__content-box__image">
          <img src="images/tabs/ice-latte.png" alt="Ice Latte">
          </div>
          <span class="tabs__content-box__heading">
            Ice Latte /
            <span class="tabs__content-box__heading_colored">10$</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
