@import "reset.css";
@import "global.css";
@import "header.css";
@import "about_carousel.css";
@import "footer.css";

* {
    outline: 1px solid red;
    box-sizing: border-box;

}

.header__on-about-us {
    color: var(--title-text-color);
    font-family: 'Dangrek', cursive;
    padding: 0px 0px 25px 0px;
}

.about__content {
    color: var(--title-text-color);
    background-color: var(--background-color-about);
    padding: 90px 15px 60px 15px;

}


.about__content-introduction {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0 25px;

}


.about__content-introduction-title {
    font-family: 'Dangrek', cursive;
    font-size: 30px;
    line-height: 40px;
    padding: 15px 0 15px 0;
    text-align: left;

}

.about__content-introduction-description {
    padding: 15px 25px 15px 0;

}

.about__content-advantages {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.about__content-advantages-title {
    font-family: 'Dangrek', cursive;
    font-size: 22px;
    text-align: justify;

}

.about__content-advantages-description {
    padding: 15px 25px 30px 0;
    text-align: justify;
}

.about__content p {
    font-family: 'Source Sans 3', sans-serif;
    color: var(--main-text-color);
    font-size: 18px;
    text-align: justify;

}

.about__content-conclusion-faq {
    cursor: pointer;
}



.about__content-advantages {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    margin: 0 25px;
}

.advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--additional-color-about);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 15px 0 15px 0;
}

.advantages-icon img {
    width: 26px;
    color: var(--main-text-color);
}



.about__content-video {
    background-image: url(images\about\background_for_video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    margin: 0 25px;
}

.about__content-video-local {
    width: 100%;

}

.about__content-team {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    padding: 15px 0;
    margin: 0 25px;
}

.about__content-team-description {
    padding: 0 25px 0 0;
    width: 40%;
    text-align: justify;
}

.about__content-team-description-staff {
    font-family: 'Leckerli One'
}

.about__content-team-description-title {
    font-family: 'Dangrek', cursive;
    font-size: 34px;
}

.about__content-team-description-description {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: var(--additional-text-color);
    padding: 25px 0 25px 0;
}

a.about__content-team-button {
    appearance: button;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    line-height: normal;
    font-size: 16.5px;
    text-decoration: none;
    color: var(--title-text-color);
    background-color: var(--additional-color-about);
    padding: 15px 35px 15px 35px;
    border-radius: 40px;
    margin: 35px 0 35px 0;
}

a.about__content-team-button:hover {
    background-color: var(--additional-button-color-about);
}

.about__content-conclusion {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.about__content-conclusion-title {
    font-family: 'Dangrek', cursive;
    font-size: 30px;
    text-align: left;
}

.about__content-conclusion-description {
    font-size: 18px;
    margin: 30px;
    padding: ;
    
}

.about__content-conclusion-faq-question {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    text-align: justify;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.about__content-conclusion-faq-answer {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    text-align: justify;
    color: var(--title-text-color);
    margin: 15px 0 15px 15px;
}

.about__content-conclusion-faq {
    margin: 15px 0 15px 0;
}

@media(min-width: 320px) {
    .header__on-about-us {
        font-size: 34px;
        padding: 70 0 100 0;
    }

}

@media(min-width: 750px) {
    .about__content {
        padding: 100px 0 60px 0;
    }

    .header__on-about-us {
        font-size: 41px;
    }

    .advantages-icon {
        height: 70px;
        width: 70px;
    }

    .advantages-icon img {
        width: 40px;
        color: var(--main-text-color);
    }


    .about__content-conclusion,
    .about__content-introduction,
    .about__content-advantages,
    .about__content-introduction-description,
    .about__content-team,
    .about__content-conclusion {
        display: flex;
        flex-direction: row;

    }

}

@media(min-width: 1000px) {
    .header__on-about-us {
        font-size: 48px;
        padding: 70 0 100 0;
    }

    .about__content-introduction,
    .about__content-advantages,
    .about__content-video,
    .about__content-team,
    .about__content-conclusion {
        margin: 0 80px;
    }
}

@media (max-width: 750px) {
    .about__content-team {
        flex-direction: column;

    }

    .about__content-team-description {
        width: 100%;
    }
}