.about__content {
    color:var(--main-text-color);
    background-color: var(--background-color-about);
}

.about__content-introduction-title{
    font-family: 'Dangrek', cursive;
}
p {
    font-family: 'Source Sans 3', sans-serif;
    color: rgb(224,221,221);
}