 .footer {
  background-color: var(--desserts-tabs-background);
}

.footer__content,
.footer__content-logo,
.footer__content-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__content {
  margin: 0 30px;
  padding-bottom: 100px;
}

.footer__column {
  padding-top: 25px;

}

.footer__content-text__contacts-lower-svg {
  border-radius: 100%;
  color: rgb(255, 196, 82);
}


.footer__content-nav {
  justify-content: space-around;
}

@media (min-width: 760px) {

  .footer__content,
  .footer__content-nav {
    flex-direction: row;
    flex: 1;
  }

  .footer__content-logo {
    max-width: 250px;

  }

  .footer__content-nav {
    justify-content: space-around;
  }
}

.footer__logo-txt {
  margin: 10px 5px;
}

.footer__content-logo {
  padding: 15px 15px;
}

.footer__column-title {
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  margin: 10px 5px;
  font-size: 25px;
}

.footer__row_text {
  color: rgb(255, 196, 82);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.footer__links {
  max-width: 10px 5px;
  color: #fff;
}

.row__text {
  color: #fff;
}

.footer__link-item {
  margin: 15px;
  font-size: 20px;
}


.line {
  border-bottom: 1px solid rgb(244, 236, 236)
}

.footer__content-text__contacts-lower-separator {display: flex;
  justify-content: space-between;

}
.footer__main-container{display: flex;
flex-direction: column;}