@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
/* font-family: 'Dangrek', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
/* font-family: 'Source Sans 3', sans-serif; */

:root {
    --main-text-color: white;
    --background-color-about: #b87390;
    --additional-color-about: #a55376;

    --background-color-menu: #6382a7;
    --additional-color-menu: #537398;

    --background-color-contacts: #f8b83d;
    --additional-color-contacts: #ffc452;

    --header-menu-link: 3px solid #912251;

    --link-button-first-style: #ffa800;
    --link-button-second-style: #32264b;
    --link-button-third-style: #a55376;

    --color_shadow: #000000;
    --drop-violet-shadow: 0px 4px 3px var(--color_shadow), 0px -4px 3px var(--color_shadow), -4px 0px 3px var(--color_shadow), 4px 0px 3px var(--color_shadow);

    --booklets-menu-background: #493b5f;

    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* * {
    border: 1px solid green;
} */