.header__logo {
    width: 129px;
}

.header__index {
    background-image: url("../images/header/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    color: var(--main-text-color);

}

.header__main-block {
    padding: 30px;
}

.header__about-us {
    background-color: var(--additional-color-about);
    color: var(--main-text-color);
}

.header__menu-page {
    background-color: var(--additional-color-menu);
    color: var(--main-text-color);
}

.header__contacts {
    background-color: var(--additional-color-contacts);
    color: var(--main-text-color);
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: none;
}

.header__menu-cell {
    padding: 24px;
}

.header__title {
    margin: 111px auto 0px;
    text-align: center;
}

.header__title--index {
    text-align: unset;
    text-shadow: 0px 4px 3px #ff0000, 0px -4px 3px red, -4px 0px 3px red, 4px 0px 3px red;
}

.header__title--menu,
.header__title--contacts,
.header__title--about-us {
    font-size: 48px;
}

.header__menu-cell .header__menu-link:hover {
    border-bottom: var(--header-menu-link);
}

.header__welcome {
    font-size: 21px;
    color: var(--main-text-color);
    /* temporary option */
}

.header__owner {
    font-size: 58px;
}

.header__story {
    font-size: 20px;
    margin: 30px 0px;
    color: var(--main-text-color);
    /* temporary option */
}

.header__button-block {
    display: flex;
    flex-wrap: wrap;
}

.header__button-block a {
    border-radius: 25px;
    margin: 10px;
    padding: 18px 35px;
    text-align: center;
    width: 170px;
}

.header__about-cafe-button {
    background-color: var(--link-button-first-style);
}

.header__our-menu-button {
    background-color: var(--link-button-second-style);
}

@media(min-width:992px) {
    .header__hamburger-menu {
        display: none;
    }

    .header__menu {
        display: flex;

    }
}