.header__logo {
    width: 129px;
}

.header__index {
    background-image: url("../images/header/header-bg.png");
    background-size: 100%;
    color: var(--main-text-color);
    padding: 30px 0px;
}

.header__about-us {
    background-color: var(--additional-color-about);
}

.header__menu {
    background-color: var(--additional-color-menu);
}

.header__contacts {
    background-color: var(--additional-color-contacts);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
}

.header__menu {
    display: flex;
}

.header__menu-cell {
    padding: 24px;
}

.header__title {
    color: var(--main-text-color);
    font-size: 48px;
}

.header__menu-cell .header__menu-link:hover {
    border-bottom: var(--header-menu-link);
}

.header__welcome {
    font-size: 21px;
}

.header__owner {
    font-size: 80px;
}