.menu__item__name,
.booklets-menu__item {
    display: flex;
    align-items: center;
}

.item__pic {
    max-height: 65px;
    object-fit: contain;
}

.menu__item__name .item__line {
    flex: 1 0 0;
    height: 1px;
    background: var(--additional-color-menu);
    min-width: 10px;
    align-self: end;
}