.booklets-menu {
    background-color: var(--background-color-menu);
    color: var(--title-text-color);
    padding-bottom: 100px;
}

.booklets-menu,
.booklets-menu__title,
.booklets-menu__list,
.menu__item__name {
    display: flex;
    align-items: center;
}

.booklets-menu__item,
.booklets-menu__table {
    display: flex;
}

.item__pic {
    max-height: 65px;
    min-width: 65px;
    object-fit: contain;
}

.menu__item__pic {
    margin-right: 15px;
}

.menu__item__description {
    width: 100%;
}

.booklets-menu__title,
.booklets-menu__table,
.booklets-menu {
    flex-direction: column;
}

.booklets-menu__title {
    padding: 100px 0 50px;
}

.booklets-menu__table {
    margin: 15px 25px;
    width: 100%;
}

.booklets-menu__table .booklets-menu__item:not(:last-child) {
    padding: 0 0 30px;
}

.menu__type {
    font-family: Leckerli One;
}

.menu__name,
.menu__item__name {
    font-family: Dangrek;
}

.menu__type,
.menu__text {
    font-size: min(max(18px, 4vw), 22px);
}

.header__on-menu,
.menu__name {
    font-size: min(max(35px, 4vw), 45px);
}

.menu__text {
    font-size: min(max(19px, 4vw), 23px);
}

.menu__item__name {
    font-size: min(max(19px, 4vw), 25px);
}

.menu__item__text {
    font-size: min(max(15px, 4vw), 18px);
    font-style: italic;
}

 .menu__item__name .item__line {
    flex: 1 0 0;
    height: 1px;
    background: var(--additional-color-menu);
    width: fit-content;
    align-self: end;
} 

@media (max-width: 760px) {
    .booklets-menu__list {
        flex-direction: column;
    }

    .item__pic {
        height: 55px;
    }
}