.our-gallery__section {
    background-color: var(--booklets-menu-background);
    padding-top: 60px;
}
.galcarousel__section {
    background-color: var(--booklets-menu-background);
}
.gallery-photo {
    background-color: var(--booklets-menu-background);
}

.galcarousel {
    background-color: var(--booklets-menu-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.galcarousel img {
    width: 600px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.galcarousel button {
   
    border: 1px solid var(--white-color);
    width: 50px;
    height: 50px;
    background-color: var(--link-button-second-style);
    border-radius: 50%;
    font-size: 16px;
    color: var(--white-color);
    position: absolute;
    top: 50%;
    justify-content:center;
    transition: background-color 2s;
}

.previous-button {
    left: 25px;
}

.next-button {
    right: 25px;
}

.galcarousel button:hover {
    background-color: #ff7938;
    color: #fff;
}

.galcarousel button img{
    filter: invert(100%);
    margin: auto;
    height:20px;
    width: 20px;
}

.chevron-img-left {
    rotate: 180deg;
}
