.tabs__head{
    display: flex;
    position: relative;
    padding: 15px 20px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}



.tabs__content .tabs__content-box {
    border: 1px solid blueviolet;
    padding: 15px;
}

@media (min-width: 768px) {
    
    .tabs__content-box {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 992px) {
    
    .tabs__content-box {
        grid-template-columns: repeat(4, 1fr);
    }

}
